/CMakeFiles
/bin
/lib
/obj

/.vs
/.DS_Store
CMakeCache.txt
CTestTestfile.cmake
Makefile
cmake_install.cmake
CTestTestfile.cmake
cmake_install.cmake
CMakeLists.txt.*
*.log
*.autosave
/build
.vscode
/html
.DS_Store
.vscode
cpp.hint
.qtc_clangd
.qtc
.ninja_deps
.ninja_log
.cmake
